@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Roboto:ital,wght@0,300;0,400;1,700&family=Rubik:wght@400;700&display=swap');

html {
    width: 100vw;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.header {
    height: 121px;
    padding: 14px 0px 14px 0px;
}

.header-fila {
    padding: 0px 70px 0px 70px;
    display: flex;
    flex-flow: row wrap;
}

.hf1 {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hf2 {
    margin-top: 34px;
    height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.mi-tienda {
    height: 38px;
    display: flex;
    align-items: center;
}

.search-box {
    min-width: 328px;
    margin: 0px 300px 0px 350px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.icon-group {
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mi-cuenta {
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.usuario-icon {
    margin-right: 10px;
}

.ch2 {
    margin-right: 20px;
}

.carousel {
    height: 427px;
}

.carousel img {
    height: 100%;
    display: block;
}

.carousel .flickity-page-dots {
    bottom: 0px;
    margin-bottom: 5px;
}

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
    box-sizing: border-box;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

.flickity-button {
    background-color: white;
    height: 36px;
    width: 36px;
    box-shadow: 0px 4px 20px 0px #80808040;
}


.tendencias {
    margin-top: 80px;
    height: 566px;
    background-color: #DC1E0F;
}

.posicionamiento {
    margin: 80px 70px 80px 70px;
    height: 455px;
    width: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-pos {
    margin-top: 30px;
}

.contenedor-vidriera>.titulo {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
}

.container-vidriera {
    width: 100%;
    margin-top: 40px;
}

.vidriera-card {
    height: 402px;
    width: 246px;
    background-color: white;
    border-radius: 6px;
    margin-right: 17.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.articulo {
    width: 188px;
    height: 188px;
}

.button-comprar {
    border: 1px solid #DC1E0F;
    color: #DC1E0F;
    margin-bottom: 22px;
}

.populares>.titulo {
    color: #000000;
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
}

.contenedor-vidriera2 {
    margin-top: 30px;
}

.contenedor-vidriera2>.titulo {
    color: #000000;
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    text-transform: uppercase;
}

.grid-layout {
    display: grid;
    grid-template-areas:
        'zapatillas futbol futbol pelotas'
        'zapatillas calzas calzas pelotas';
    gap: 12px;
    width: 100%;
    height: 399px;
}

.caja-grid {
    color: white;
}

.zapatillas {
    grid-area: zapatillas;
    background-image: url('./public/zapatilla.png');
    background-size: cover;
    background-position: center;
}

.futbol {
    grid-area: futbol;
    background-image: url('./public/futbol.png');
    background-size: cover;
    background-position: center;
}

.calzas {
    grid-area: calzas;
    background-image: url('./public/calza.png');
    background-size: cover;
    background-position: center;
}

.pelotas {
    grid-area: pelotas;
    background-image: url('./public/pelota.png');
    background-size: cover;
    background-position: center;
}

.vendido {
    margin-top: 80px;
    height: 566px;
}

.vw-sombra {
    box-shadow: 0px 2px 6px 0px #CCCACA;
}

.info {
    background-color: #ECECEC;
    box-sizing: border-box;
    margin-top: 80px;
    padding: 40px 150px;
    height: 261px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000;
    font-family: Rubik, sans-serif;
    font-style: normal;
}

.cajita-info {
    height: 168px;
    width: 261.61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cajita-info>img {
    max-height: 57px;
    margin-bottom: 24px;
}

.cajita-info>.titulo {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.cajita-info>.subtitulo {
    color: #3C3C3B;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.footer {
    background-color: #212121;
    height: 290px;
    display: flex;
    flex-direction: column;
}

.footer-fila {
    color: white;
    display: flex;
    flex-direction: row;
}

.f1 {
    padding: 50px 100px 0px 80px;
    justify-content: space-between;
    height: 235px;
}

.cajitas {
    border: 1px solid white;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    text-decoration: none;
    background: none;
}

.button-arrepentimiento {
    border: 1px solid white;
    color: white;
    width: 100%;
}

.f2 {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 80px;
}

.grupof2 {
    border: 1px solid white;
}

.grupo2-f2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.g2 {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}


@media (min-width: 361px) {
    .menu-icon {
        display: none;
    }

    .g2-mobile {
        display: none;
    }
}

@media (max-width: 360px) {
    .flex-container {
        height: 2445px;
    }

    .header {
        height: 95px;
    }

    .header-fila {
        padding: 0;
        margin: 0px 16px 0px 16px;
    }


    .hf2 {
        display: none;
    }

    .mi-cuenta-texto {
        display: none;
    }

    .search-box {
        border: none;
        background-color: #8d99ae41;
        margin: 12px 0 0 0;
        order: 4;
    }

    .carousel {
        width: 360px;
        height: 140px;
        flex-shrink: 0;
    }

    /* white circles */
    .flickity-page-dots .dot {
        width: 10px;
        height: 10px;
        opacity: 1;
        border: 1.5px solid white;
    }

    .posicionamiento {
        margin-left: 16px;
        margin-top: 40px;
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tendencias {
        margin-top: 40px;
        height: 380px;
    }

    .container-vidriera > .flickity-button{
        display: none;
    }

    .vidriera-card {
        width: 160px;
        height: 233px;
        border-radius: 15px;
        margin-right: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .articulo {
        width: 99.35px;
        height: 99.547px;
        flex-shrink: 0;
    }

    .populares {
        width: 100%;
        height: 299px;
        margin: 40px 0 0 0;

    }

    .grid-layout {
        display: block;
    }

    .caja-grid {
        width: 360px;
        height: 208px;
    }


    .vendido {
        margin-top: 40px;
        height: 380px;
    }

    .info {
        display: block;
        padding: 0px 20px;
        height: 261px;
    }

    .cajita-info {
        width: 320px;
        height: 248px;
        padding: 40px 0;
    }

    .footer {
        height: 681px;
    }

    .f1 {
        display: flex;
        flex-direction: column;
    }

    .f2 {
        height: 123.79px;
        display: flex;
        flex-direction: column;
        margin: 40px 42.5px 0 42.5px;
        border: 1px solid white;
    }

    .grupof2 {
        border: none;
    }

    .caja-foo-f2 {
        border: 1px solid white;
    }

    .g2 {
        display: flex;
        flex-direction: column;
    }

    .first {
        order: 2;
    }

    .third {
        order: 3;
    }

    .vtex {
        order: 4;
    }

}

@media (max-width: 360px) {
    .g2-desktop {
        display: none;
    }
}